.sl {
    font-size: xx-large;
}

.slcenter {
    margin-top: 5%;
    font-size: xx-large;
    text-align: center;
}

.r-panel {
    margin-top: 5%;
    margin-left: 2%;
}
.r-list{
    margin-top: 5%;
    margin-left: 10%;
    font-size: xx-large;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #e9ecef;
}

.bottom-align {
    font-size: larger;
    text-align: center;
}